@model IEnumerable<Contacts_profile.Models.Contacts>

@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContactFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPhoneNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactAddress)
        </th>
        <th>
            Contacts Management
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContactFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactPhoneNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
